@import "../base/base";
@import "../abstracts/variable";
@import "../components/button";
@import "../components/animation";
@import "../layouts/header";
@import "../components/form";
@import "../layouts/footer";


.website {
    overflow: hidden;
}

.header__wrapper-heading .header-text {
    width: 100%;
    animation: leftToRight 0.5s linear;
    will-change: transform;
}

.header__wrapper-heading .button {
    animation: leftToRight 0.5s linear;
    will-change: transform;
}

.main {
    .section-node {
        margin: 12rem 0;

        &__heading {
            font-size: 2.5rem;
            color: $color-dark;

        }

        &__text {

            &-text {
                font-size: 1.6rem;
                color: $color-text;
                font-weight: 300;
                line-height: 3rem;
            }
        }
    }

    .section__node-about {
        margin-left: -15px;
        margin-right: -15px;
        &-wrapper {
            
            width: 50%;
    

            &-right {
                width: 100%;
                height: 100%;
                background: #1F1F1F;
                padding: 10rem 18rem 3rem 10rem;
                box-sizing: border-box;

                .about-wrapper {
                    color: $color-white;
                    font-size: 1.4rem;
                    padding: 0rem 0 3rem;
                    font-weight: bold;
                }

                .about-wrapper-heading {
                    font-size: 4rem;
                    color: $color-white;
                    padding-bottom: 2rem;

                }
                .about-wrapper-node-text {
                    font-size: 1.6rem;
                    color: rgba($color: $color-white, $alpha: 0.7);
                    line-height: 3.6rem;
                    font-family: "Muli", sans-serif;
                    padding-top: 3rem;
                    margin-bottom: 1.4rem;
                }
                .about-wrapper-node-text2 {
                    font-size: 1.8rem;
                    color: rgba($color: $color-white, $alpha: 0.7);
                    line-height: 3.6rem;
                    font-family: "Muli", sans-serif;
                    padding-bottom: 3rem;
                }

                a.button {
                    padding-left: 3rem;
                    padding-right: 3rem;;
                }
            }
        }
    }

    .section-wrapper {

        &__wrapper {

            padding: 6rem 31rem;
            text-align: center;

            &-heading {
                font-size: 4rem;
                padding: 2rem;
            }

            &-node {
                font-size: 1.6rem;
                color: $color-888;
                font-weight: 400;
            }
        }
    }


    .section-node-work {

        &__wrapper {
            margin: 12rem 0 8rem 0;
            
            
            &-heading {
                font-size: 4rem;
                color: $color-black;
                padding-bottom: 2rem;;
            }
            &-information {
                font-size: 1.6rem;
                color: $color-text;
                padding: 2rem 0;
                font-family:  "Muli", sans-serif;
            }
            &-text {
                font-size: 1.6rem;
                color: $color-888;
                padding-top: 0rem;
                margin-bottom: 4rem;
                font-weight: 300;
                font-family: "Muli", sans-serif;
                letter-spacing: 0.05rem;

            }

            .node-play-watching {
                font-size: 2rem;
                color: $color-black;
                margin-left: 2rem;
            }

            &-img {
                width: 100%;
                height: 700px;
                object-fit:cover;
                border-radius: 16px;
            }
        }

        &__wrapper--padding {
            padding: 14rem 15rem 0 0;
        }

        
    }

    .product-introduction {
        margin-bottom: 12rem;

        &__wrapper {
            text-align: center;

            &-heading {
                font-size: 1.8rem;
                color: $color-black;
                margin: 1.6rem 0;
            }

            &-work {
                font-size: 1.6rem;
                color: $color-888;
                font-weight: 300;
            }

            .wrapper-link {
                width: 100%;

                &-list {
                    width: 100%;
                    display: none;
                    flex-wrap: nowrap;
                    margin: 0;
                    justify-content: center;
                    position: absolute;
                    top: 65%;
                    left: 0;


                    &-items {
                        display: inline-block;
                        margin:  0 1rem;


                        a.node-play {
                            padding: 1.4rem 1.6rem;
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
            }
        }

        &__wrapper:hover .wrapper-link-list {
            display: flex;
            animation: menu 0.3s linear;
        }


    }

    .section-introduce__content {
        background: url('../../img/testmonial/banner.png');
        width: 100%;
        height: 600px;
        position: relative;
        .container {
            height: 100%;
        }

        .row {
            height: 100%;
        }

        
        
        .section__wrapper{
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 5;
        }

        
        &-wrapper {
            display: flex;
            text-align: center;
            align-items: center;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            &-background-svg {
                width: 4.7rem;
                height: 3.6rem;
                margin-bottom: 2rem;

            }
        }

        &-text {
            color: $color-white;
            font-size: 2.2rem;
            font-family: "Muli", sans-serif;
            display: flex;
            text-align: center;
            align-items: center;
            user-select: none;
            margin-top: 1.2rem;
        }


        &-directional  {
            width: 100%;

            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            &-wrapper {
                width: 4rem;
                height: 4rem;
                border: 0.4px solid $color-white;
                border-radius:  100rem;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
    
                i {
                    font-size: 1.6rem;
                    color: $color-white;
                    
                }
            }
            &-wrapper:hover {
                background: $color-dark;
                border-color: $color-dark;
                transition: all 0.3s;
                will-change: transition;
            }

            
        }
        .section-introduce__content-wrapper-background {
            width: 100%;    
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;

            
            &-image{
                margin-top: 1.2rem;
                width: 45px;
                height: 45px;
                background-repeat: no-repeat;
            }

            &-heading {
                font-size: 1.6rem;
                color: $color-white;
                display: inline-block;
                
            }

            &-node {
                color: $color-white;
                font-size: 1.4rem;
                display: inline-block;
            }
        }

       
        
    }
    .section-introduce__content:after { 
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0,0,0, 0.5);
        z-index: 1;
    }





}


@media ( max-width: 575px) {
    .website {
        overflow: hidden;
    }
    .header {
        .header__wrapper-top-menu {
            display: none;
        }
    
        .header__wrapper-top-send {
            display: none;
        }
        .header__wrapper {
            padding: 1.6rem;
            background: $color-black;
            z-index: 20;
    
        }
        .header__wrapper-top {
            width: 100%;
            position: relative;
            height: 5rem;
            z-index: 20;
        }
        .header__wrapper-top-logo {
            display: flex;
             align-items: center;
    
        }
    
        .header__wrapper-heading .header-text {
            margin-top: 12rem;
            font-size: 3rem;
        }
    
        .header__wrapper-top-icon {
            display: flex;
            align-items: center;
            i {
                font-size: 3.5rem;
                color: $color-white;
            }
    
            .menu__mobi-list {
                position: absolute;
                top: calc( 100% + 16px);
                left: 0;
                right: 0;
                background: $color-white;
                z-index: 99999; 
                display: none;
    
                &-item {
                    list-style: none;
    
                    &-link {
                        padding: 1.2rem 0 1.2rem 3.6rem;
                        display: block;
                        color: $color-black;
                        position: relative;
                        z-index: 10;
                        font-size: 1.6rem;
                    }
                    &-link--active {
                        color: $color-dark;
                    }
    
                    &-link:hover {
    
                        color: $color-dark;
                        text-decoration: none;
                    }
                }
            }
    
           
        }
        #menu-click {
            display: none;
        }
        #menu-click:checked + label  .menu__mobi-list {
            display: block;
            animation: nav-mobile 0.3s;
        }
    
        .header__background {
            min-height: unset;
        }
    
    }

    .main {

        .section__node-about-wrapper {
                img  {
                width: 100%;
                margin-bottom: 2rem;
            }
        }
        .section__node-about-wrapper-right {
            padding: 15rem 3rem;
        }

     .section-wrapper__wrapper {
         padding:  0 3rem 7rem 3rem;
     }

     .product-introduction__wrapper-img {
         width: 100%;
     }

     .product-introduction__wrapper {
         margin-bottom: 3rem;
     }

     .section-introduce__content-directional {
         display: none;
     }

     .section-introduce__content {
         background-repeat: no-repeat;
         background-position:center;
     }

     .section-form .container {
       padding: 0;
     }

      .section-node-work__wrapper--padding {
         padding: 0;
     }
    .section-wrapper__wrapper-heading {
        font-size: 3rem;
    }

     .section-form .container {
         padding: 0 1.5rem
     }
    }

    .footer {
        height: 552px;
        .wrapper-link {
            display: flex;
            justify-content: flex-start;
        }

        .wrapper-link-list {
            margin-top: 4rem;
        }
        .footer-top__nav {
            margin-top: 2rem;
        }
        .footer-copyright {
            padding-bottom: 2rem;
        }
        .footer-top__nav-list {
            flex-wrap: wrap;
        }
    }

}


@media ( min-width: 576px) and ( max-width: 767px) {
    .website {
        overflow: hidden;
    }
    .header {
        .header__wrapper-top-menu {
            display: none;
        }
    
        .header__wrapper-top-send {
            display: none;
        }
        .header__wrapper {
            padding: 1.6rem;
            background: $color-black;
            z-index: 20;
    
        }
        .header__wrapper-top {
            width: 100%;
            position: relative;
            height: 5rem;
            z-index: 20;
        }
        .header__wrapper-top-logo {
            display: flex;
             align-items: center;
    
        }
    
        .header__wrapper-heading .header-text {
            margin-top: 12rem;
            font-size: 4rem;
        }
    
        .header__wrapper-top-icon {
            display: flex;
            align-items: center;
            i {
                font-size: 3.5rem;
                color: $color-white;
            }
    
            .menu__mobi-list {
                position: absolute;
                top: calc( 100% + 16px);
                left: 0;
                right: 0;
                background: $color-white;
                z-index: 99999; 
                display: none;
    
                &-item {
                    list-style: none;
    
                    &-link {
                        padding: 1.2rem 0 1.2rem 3.6rem;
                        display: block;
                        color: $color-black;
                        position: relative;
                        z-index: 10;
                        font-size: 1.6rem;
                    }
                    &-link--active {
                        color: $color-dark;
                    }
    
                    &-link:hover {
    
                        color: $color-dark;
                        text-decoration: none;
                    }
                }
            }
    
           
        }
        #menu-click {
            display: none;
        }
        #menu-click:checked + label  .menu__mobi-list {
            display: block;
            animation: nav-mobile 0.3s;
        }
    
        .header__background {
            min-height: unset;
        }
    
    }

    .main {

        .section__node-about-wrapper {
            img {
                width: 100%;
                margin-bottom: 2rem;
            }
        }
        .section__node-about-wrapper-right {
            padding: 15rem 3rem;
        }

     .section-wrapper__wrapper {
         padding:  0 3rem 7rem 3rem;
     }

     .product-introduction__wrapper-img {
         width: 100%;
     }

     .product-introduction__wrapper {
         margin-bottom: 3rem;
     }

     .section-introduce__content-directional {
         display: none;
     }

     .section-introduce__content {
         background-repeat: no-repeat;
         background-position:center;
     }

     .section-form .container {
       padding: 0;
     }
    }

    .footer {
        height: 505px;
        .wrapper-link {
            display: flex;
            justify-content: flex-start;
        }

        .wrapper-link-list {
            margin-top: 4rem;
        }
        .footer-top__nav {
            margin-top: 2rem;
        }
        .footer-copyright {
            padding-bottom: 2rem;
        }
    }


}

@media ( min-width: 768px) and ( max-width: 991px) {
    .website {
        overflow: hidden;
    }
    .header {
        .header__wrapper-top-menu {
            display: none;
        }
    
        .header__wrapper-top-send {
            display: none;
        }
        .header__wrapper {
            padding: 1.6rem;
            background: $color-black;
            z-index: 20;
    
        }
        .header__wrapper-top {
            width: 100%;
            position: relative;
            height: 5rem;
            z-index: 20;
        }
        .header__wrapper-top-logo {
            display: flex;
             align-items: center;
    
        }
    
        .header__wrapper-heading .header-text {
            margin-top: 12rem;
            font-size: 5rem;
        }
    
        .header__wrapper-top-icon {
            display: flex;
            align-items: center;
            i {
                font-size: 3.5rem;
                color: $color-white;
            }
    
            .menu__mobi-list {
                position: absolute;
                top: calc( 100% + 16px);
                left: 0;
                right: 0;
                background: $color-white;
                z-index: 99999; 
                display: none;
    
                &-item {
                    list-style: none;
    
                    &-link {
                        padding: 1.2rem 0 1.2rem 3.6rem;
                        display: block;
                        color: $color-black;
                        position: relative;
                        z-index: 10;
                        font-size: 1.6rem;
                    }
                    &-link--active {
                        color: $color-dark;
                    }
    
                    &-link:hover {
    
                        color: $color-dark;
                        text-decoration: none;
                    }
                }
            }
    
           
        }
        #menu-click {
            display: none;
        }
        #menu-click:checked + label  .menu__mobi-list {
            display: block;
            animation: nav-mobile 0.3s;
        }
    
        .header__background {
            min-height: unset;
        }
    
    }
    .main {

        .section__node-about-wrapper {
            img {
                width: 100%;
                margin-bottom: 2rem;
            }
        }
        .section__node-about-wrapper-right {
            padding: 15rem 3rem;
        }

     .section-wrapper__wrapper {
         padding:  0 3rem 7rem 3rem;
     }

     .product-introduction__wrapper-img {
         width: 100%;
     }

     .product-introduction__wrapper {
         margin-bottom: 3rem;
     }

     .section-introduce__content-directional {
         display: none;
     }

     .section-introduce__content {
         background-repeat: no-repeat;
         background-position:center;
     }

     .section-form .container {
       padding: 0;
     }
    }

    .footer {
        height: 430px;
        .wrapper-link {
            display: flex;
            justify-content: center;
        }

        .wrapper-link-list {
            margin-top: 4rem;
        }

        .footer-copyright {
            padding-bottom: 2rem;
        }
    }
}



















