@import "../base/base";
@import "../abstracts/variable";
@import "../components/button";
@import "../components/animation";
@import "../layouts/header";
@import "../layouts/footer";
@import "../components/form";



.header {
    height: 400px;
    margin-bottom: 12rem;
}
.header__background {
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

.header__background:after {
    background: rgba(0, 0, 0, 0.4)
}

.header__wrapper-heading .header-text {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    margin-top: 8rem;
    font-size: 9rem;

}

.main {

    .section-wrapper {

        &__wrapper {

            padding: 0rem 31rem 10rem 31rem;
            text-align: center;

            &-heading {
                font-size: 4rem;
                padding: 2rem;
            }

            &-node {
                font-size: 1.6rem;
                color: $color-888;
                font-weight: 400;
            }
        }
    }
    .section-product {
        &__wrapper {
            position: relative;

            width: 100%;
            height: 100%;
            padding: 1.5rem 0;

            img {
                height: 380px;
                width: 100%;
            }

            &-overlay {
                position: absolute;
                width: 100%;
              
                text-align: center;
                top: 50%;
                transform: translateY(-50%);
                display: none;
                z-index: 20;


                &-text {
                    font-size: 1.4rem;
                    color: $color-dark;
                    padding-bottom: 1.2rem;
                    display: inline-block;
                    animation: fadeIn 0.3s linear;


                }
                &-heading {
                    font-size: 3rem;
                    color: $color-black;
                    // padding-top: 1.4rem ;
                    animation: fadeIn 0.2s linear;
                    margin-bottom: 0; 
                    padding-bottom: 2.5rem;

                }
                a.button {
                    margin-top: 1.4rem;
                    animation: fadeIn 0.5s linear;

                }

            }
        }

        &__wrapper:after {
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: $color-white;
            display: none;
            border-radius: 3px;
            animation: fadeIn 0.3s linear;
            
        }
        &__wrapper:hover:after {
            display: block;
        }

        &__wrapper:hover .section-product__wrapper-overlay {
            display: block;
        }
    }
    
    .section-introduce__content {
        margin: 10rem 0 10rem 0;
        background: url('../../img/testmonial/banner.png');
        width: 100%;
        height: 600px;
        position: relative;
        .container {
            height: 100%;
        }

        .row {
            height: 100%;
        }

        
        
        .section__wrapper{
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 5;
        }

        
        &-wrapper {
            display: flex;
            text-align: center;
            align-items: center;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            &-background-svg {
                width: 4.7rem;
                height: 3.6rem;
                margin-bottom: 2rem;

            }
        }

        &-text {
            color: $color-white;
            font-size: 2.2rem;
            font-family: "Muli", sans-serif;
            display: flex;
            text-align: center;
            align-items: center;
            user-select: none;
            margin-top: 1.2rem;
        }


        &-directional  {
            width: 100%;

            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            &-wrapper {
                width: 4rem;
                height: 4rem;
                border: 0.4px solid $color-white;
                border-radius:  100rem;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
    
                i {
                    font-size: 1.6rem;
                    color: $color-white;
                    
                }
            }
            &-wrapper:hover {
                background: $color-dark;
                border-color: $color-dark;
                transition: all 0.3s;
                will-change: transition;
            }

            
        }
        .section-introduce__content-wrapper-background {
            width: 100%;    
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;

            
            &-image{
                margin-top: 1.2rem;
                width: 45px;
                height: 45px;
                background-repeat: no-repeat;
            }

            &-heading {
                font-size: 1.6rem;
                color: $color-white;
                display: inline-block;
                
            }

            &-node {
                color: $color-white;
                font-size: 1.4rem;
                display: inline-block;
            }
        }

       
        
    }
    .section-introduce__content:after { 
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0,0,0, 0.5);
        z-index: 1;
    }

}



@media ( max-width: 575px) {
    .website {
        overflow: hidden;
    }

    .header {
        margin-bottom:0;
        .header__wrapper-top-menu {
            display: none;
        }
    
        .header__wrapper-top-send {
            display: none;
        }
        .header__wrapper {
            padding: 1.6rem;
            background: $color-black;
            z-index: 20;
    
        }
        .header__wrapper-top {
            width: 100%;
            position: relative;
            height: 5rem;
            z-index: 20;
        }
        .header__wrapper-top-logo {
            display: flex;
             align-items: center;
    
        }
    
        .header__wrapper-heading .header-text {
            margin-top: 12rem;
            font-size: 3rem;
        }
    
        .header__wrapper-top-icon {
            display: flex;
            align-items: center;
            i {
                font-size: 3.5rem;
                color: $color-white;
            }
    
            .menu__mobi-list {
                position: absolute;
                top: calc( 100% + 16px);
                left: 0;
                right: 0;
                background: $color-white;
                z-index: 99999; 
                display: none;
    
                &-item {
                    list-style: none;
    
                    &-link {
                        padding: 1.2rem 0 1.2rem 3.6rem;
                        display: block;
                        color: $color-black;
                        position: relative;
                        z-index: 10;
                        font-size: 1.6rem;
                    }
                    &-link--active {
                        color: $color-dark;
                    }
    
                    &-link:hover {
    
                        color: $color-dark;
                        text-decoration: none;
                    }
                }
            }
    
           
        }
        #menu-click {
            display: none;
        }
        #menu-click:checked + label  .menu__mobi-list {
            display: block;
            animation: nav-mobile 0.3s;
        }
    
        .header__background {
            min-height: unset;
        }
    
    }

    .main {
        .section-wrapper__wrapper {
            padding: 4rem 2rem;
        }

        .section-introduce__content-directional {
            display: none;
        }

       .section-introduce__content {
            background-position: center;
       }
       .section-form .container {
           padding: 0 2rem;
       }
        .section-product__wrapper img {
           height: 260px !important;
       }
    }
    .footer {
        height: 561px;
        .wrapper-link {
            display: flex;
            justify-content: center;
        }

        .wrapper-link-list {
            margin-top: 4rem;
        }

        .footer-copyright {
            padding-bottom: 2rem;
        }

        .footer-top-img {
            margin-bottom: 3rem;
        }
        .footer-top__nav-list {
            flex-wrap: wrap;
        }
    }
}

@media( min-width: 576px ) and ( max-width: 767px ) {
    .website {
        overflow: hidden;
    }
    
    .header {
        margin-bottom:0;
        .header__wrapper-top-menu {
            display: none;
        }
    
        .header__wrapper-top-send {
            display: none;
        }
        .header__wrapper {
            padding: 1.6rem;
            background: $color-black;
            z-index: 20;
    
        }
        .header__wrapper-top {
            width: 100%;
            position: relative;
            height: 5rem;
            z-index: 20;
        }
        .header__wrapper-top-logo {
            display: flex;
             align-items: center;
    
        }
    
        .header__wrapper-heading .header-text {
            margin-top: 12rem;
            font-size: 5rem;
        }
    
        .header__wrapper-top-icon {
            display: flex;
            align-items: center;
            i {
                font-size: 3.5rem;
                color: $color-white;
            }
    
            .menu__mobi-list {
                position: absolute;
                top: calc( 100% + 16px);
                left: 0;
                right: 0;
                background: $color-white;
                z-index: 99999; 
                display: none;
    
                &-item {
                    list-style: none;
    
                    &-link {
                        padding: 1.2rem 0 1.2rem 3.6rem;
                        display: block;
                        color: $color-black;
                        position: relative;
                        z-index: 10;
                        font-size: 1.6rem;
                    }
                    &-link--active {
                        color: $color-dark;
                    }
    
                    &-link:hover {
    
                        color: $color-dark;
                        text-decoration: none;
                    }
                }
            }
    
           
        }
        #menu-click {
            display: none;
        }
        #menu-click:checked + label  .menu__mobi-list {
            display: block;
            animation: nav-mobile 0.3s;
        }
    
        .header__background {
            min-height: unset;
        }
    
    }
    .main {
        .section-wrapper__wrapper {
            padding: 4rem 2rem;
        }

        .section-introduce__content-directional {
            display: none;
        }

       .section-introduce__content {
            background-position: center;
       }
       .section-form .container {
           padding: 0;
       }
    }
    .footer {
        height: 530px;
        .wrapper-link {
            display: flex;
            justify-content: center;
        }

        .wrapper-link-list {
            margin-top: 4rem;
        }

        .footer-copyright {
            padding-bottom: 2rem;
        }

        .footer-top-img {
            margin-bottom: 3rem;
        }
    }


}


@media ( min-width: 768px ) and ( max-width: 991px ) {
    .website {
        overflow: hidden;
    }
    .header {
        margin-bottom:0;
        .header__wrapper-top-menu {
            display: none;
        }
    
        .header__wrapper-top-send {
            display: none;
        }
        .header__wrapper {
            padding: 1.6rem;
            background: $color-black;
            z-index: 20;
    
        }
        .header__wrapper-top {
            width: 100%;
            position: relative;
            height: 5rem;
            z-index: 20;
        }
        .header__wrapper-top-logo {
            display: flex;
             align-items: center;
    
        }
    
        .header__wrapper-heading .header-text {
            margin-top: 12rem;
            font-size: 5rem;
        }
    
        .header__wrapper-top-icon {
            display: flex;
            align-items: center;
            i {
                font-size: 3.5rem;
                color: $color-white;
            }
    
            .menu__mobi-list {
                position: absolute;
                top: calc( 100% + 16px);
                left: 0;
                right: 0;
                background: $color-white;
                z-index: 99999; 
                display: none;
    
                &-item {
                    list-style: none;
    
                    &-link {
                        padding: 1.2rem 0 1.2rem 3.6rem;
                        display: block;
                        color: $color-black;
                        position: relative;
                        z-index: 10;
                        font-size: 1.6rem;
                    }
                    &-link--active {
                        color: $color-dark;
                    }
    
                    &-link:hover {
    
                        color: $color-dark;
                        text-decoration: none;
                    }
                }
            }
    
           
        }
        #menu-click {
            display: none;
        }
        #menu-click:checked + label  .menu__mobi-list {
            display: block;
            animation: nav-mobile 0.3s;
        }
    
        .header__background {
            min-height: unset !important;
        }
    
    }

    .main {
        .section-wrapper__wrapper {
            padding: 4rem 2rem;
        }

        .section-introduce__content-directional {
            display: none;
        }

       .section-introduce__content {
            background-position: center;
       }
       .section-form .container {
           padding: 0;
       }
    }

    .footer {
        height: 530px;
        .wrapper-link {
            display: flex;
            justify-content: center;
        }

        .wrapper-link-list {
            margin-top: 4rem;
        }

        .footer-copyright {
            padding-bottom: 2rem;
        }
    }
}
   

