*,
*:after,
*:before {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

a {
  text-decoration: none; }

@media (max-width: 575px) {
  .container {
    padding-left: 1.5rem  !important;
    padding-right: 1.5rem !important; } }
.button {
  padding: 1.2rem 3rem;
  background: #615CFD;
  border: 1px solid #615CFD;
  outline: none;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 10rem;
  user-select: none;
  outline: none;
  text-decoration: none; }

.button:hover {
  background: transparent;
  color: #615CFD;
  transition: all 0.6s linear;
  text-decoration: none; }

.button:focus {
  border: none; }

a.node-play {
  padding: 2.6rem;
  border-radius: 100rem;
  background: #615CFD;
  display: inline;
  text-align: center; }
  a.node-play i {
    color: #fff; }

@keyframes menu {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
    transform-origin: 50% 50%; }
  100% {
    opacity: 1;
    transform: scale(1); } }
@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes element {
  0% {
    opacity: 0;
    transform: translateY(-2rem); }
  40% {
    opacity: 0.2;
    transform: translateY(-1.5rem); }
  80% {
    opacity: 0.5;
    transform: translateY(-0.5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes opacity-on-up {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
@keyframes nav-mobile {
  0% {
    opacity: 0;
    height: 0%; }
  20% {
    opacity: 0.2;
    height: 20%; }
  40% {
    opacity: 0.4;
    height: 40%; }
  60% {
    opacity: 0.6;
    height: 60%; }
  80% {
    opacity: 0.8;
    height: 80%; }
  100% {
    opacity: 1;
    height: 100%; } }
.header {
  height: 900px;
  width: 100%; }
  .header__background {
    height: 900px;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover; }
  .header__background:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); }
  .header__wrapper {
    position: relative;
    z-index: 2;
    padding: 4.5rem 0; }
    .header__wrapper-top {
      display: flex;
      justify-content: space-between; }
      .header__wrapper-top #menu-click {
        display: none; }
      .header__wrapper-top .header__wrapper-top-icon {
        display: none; }
      .header__wrapper-top .menu__mobi-list {
        display: none; }
      .header__wrapper-top-logo {
        width: 15%;
        font-size: 2rem; }
      .header__wrapper-top-menu-list {
        padding: 0;
        margin: 0; }
        .header__wrapper-top-menu-list-items {
          list-style: none;
          margin: 0 2.5rem;
          position: relative; }
          .header__wrapper-top-menu-list-items-link {
            font-size: 1.7rem;
            color: #fff; }
            .header__wrapper-top-menu-list-items-link i {
              font-size: 1.2rem; }
          .header__wrapper-top-menu-list-items-link:hover {
            color: #615FCD;
            transition: all 0.3s;
            text-decoration: none; }
          .header__wrapper-top-menu-list-items .submenu {
            position: absolute;
            top: calc(100% + 20px);
            left: 0;
            background: #fff;
            display: none;
            animation: menu 0.3s linear;
            will-change: animation; }
            .header__wrapper-top-menu-list-items .submenu__list {
              margin: 0;
              padding: 0;
              display: block;
              width: 20rem; }
              .header__wrapper-top-menu-list-items .submenu__list-items {
                padding: 1.2rem 1.8rem;
                color: #000;
                font-size: 1.6rem;
                display: block; }
              .header__wrapper-top-menu-list-items .submenu__list-items:hover {
                color: #615CFD;
                text-decoration: none;
                transition: all 0.3s;
                will-change: transition; }
          .header__wrapper-top-menu-list-items .submenu:before {
            position: absolute;
            content: '';
            top: -22px;
            left: 0;
            width: 20rem;
            height: 3rem; }
        .header__wrapper-top-menu-list-items:hover .submenu {
          display: block; }
      .header__wrapper-top-send-text {
        position: relative;
        color: #fff;
        font-size: 1.7rem; }
      .header__wrapper-top-send-text:after {
        content: '';
        position: absolute;
        top: calc(100% + 7px);
        left: 0;
        width: 100%;
        height: 4px;
        background: #615FCD; }
      .header__wrapper-top-send-text:hover {
        color: #fff;
        text-decoration: none; }
  .header__wrapper-heading {
    position: relative;
    z-index: 5; }
    .header__wrapper-heading .header-text {
      margin-top: 15rem;
      font-size: 7rem;
      color: #fff;
      width: 70%;
      line-height: 8rem;
      font-weight: 400; }
    .header__wrapper-heading .button {
      margin-top: 8rem;
      display: inline-block; }

.section-form .container {
  text-align: center;
  padding: 3rem 20rem;
  box-sizing: border-box; }
  .section-form .container .form-input {
    width: 100%;
    padding: 1.2rem 1.2rem 1.2rem 2rem;
    font-size: 1.6rem;
    color: #333;
    margin: 1.2rem 0;
    border-radius: 100rem;
    outline: none;
    border: 1px solid #888; }
  .section-form .container .form-message {
    width: 100%;
    height: 140px;
    font-size: 1.6rem;
    border: 1px solid #888;
    outline: none;
    border-radius: 3rem;
    resize: none;
    padding: 1.4rem;
    color: #333;
    margin: 1.2rem 0; }
  .section-form .container a.button--form {
    width: 100%;
    display: block;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    font-size: 1.6rem;
    margin: 1.2rem 1.2rem 5rem 1.2rem; }

.footer {
  background-color: #1F1F1F;
  height: 410px; }
  .footer-top {
    padding: 10rem 0 18rem 0;
    border-bottom: 0.3px solid #3a3a3a; }
    .footer-top__nav {
      height: 100%;
      width: 100%; }
      .footer-top__nav-list {
        height: 100%;
        margin: 0;
        padding: 0;
        align-items: center;
        justify-content: center; }
        .footer-top__nav-list-item {
          list-style: none;
          padding: 0 2rem; }
          .footer-top__nav-list-item-link {
            font-size: 1.6rem;
            color: #fff; }
          .footer-top__nav-list-item-link:hover {
            color: #615CFD;
            text-decoration: none;
            transition: all 0.4s;
            will-change: transition; }
    .footer-top .wrapper-link {
      height: 100%; }
      .footer-top .wrapper-link-list {
        margin: 0;
        padding: 0;
        height: 100%;
        justify-content: flex-end;
        align-items: center; }
        .footer-top .wrapper-link-list-items {
          list-style: none;
          margin: 0 0.8rem; }
          .footer-top .wrapper-link-list-items .node-play {
            padding: 1.4rem 1.6rem;
            background-color: transparent;
            border: 0.5px solid #fff;
            border-radius: 100rem; }
          .footer-top .wrapper-link-list-items .node-play:hover {
            background-color: #615CFD;
            border-color: #615CFD;
            transition: all 0.3s;
            will-change: transition; }
        .footer-top .wrapper-link-list-items:last-child {
          margin: 0 0 0 0.8rem; }
    .footer-top-img-logo {
      display: flex;
      align-items: center; }
  .footer-copyright {
    margin-top: 2rem;
    text-align: center; }
    .footer-copyright__text {
      font-size: 1.6rem;
      color: #888; }
    .footer-copyright__people {
      color: violet;
      font-size: 1.6rem; }

.website {
  overflow: hidden; }

.header__wrapper-heading .header-text {
  width: 100%;
  animation: leftToRight 0.5s linear;
  will-change: transform; }

.header__wrapper-heading .button {
  animation: leftToRight 0.5s linear;
  will-change: transform; }

.main .section-node {
  margin: 12rem 0; }
  .main .section-node__heading {
    font-size: 2.5rem;
    color: #615CFD; }
  .main .section-node__text-text {
    font-size: 1.6rem;
    color: #333;
    font-weight: 300;
    line-height: 3rem; }
.main .section__node-about {
  margin-left: -15px;
  margin-right: -15px; }
  .main .section__node-about-wrapper {
    width: 50%; }
    .main .section__node-about-wrapper-right {
      width: 100%;
      height: 100%;
      background: #1F1F1F;
      padding: 10rem 18rem 3rem 10rem;
      box-sizing: border-box; }
      .main .section__node-about-wrapper-right .about-wrapper {
        color: #fff;
        font-size: 1.4rem;
        padding: 0rem 0 3rem;
        font-weight: bold; }
      .main .section__node-about-wrapper-right .about-wrapper-heading {
        font-size: 4rem;
        color: #fff;
        padding-bottom: 2rem; }
      .main .section__node-about-wrapper-right .about-wrapper-node-text {
        font-size: 1.6rem;
        color: rgba(255, 255, 255, 0.7);
        line-height: 3.6rem;
        font-family: "Muli", sans-serif;
        padding-top: 3rem;
        margin-bottom: 1.4rem; }
      .main .section__node-about-wrapper-right .about-wrapper-node-text2 {
        font-size: 1.8rem;
        color: rgba(255, 255, 255, 0.7);
        line-height: 3.6rem;
        font-family: "Muli", sans-serif;
        padding-bottom: 3rem; }
      .main .section__node-about-wrapper-right a.button {
        padding-left: 3rem;
        padding-right: 3rem; }
.main .section-wrapper__wrapper {
  padding: 6rem 31rem;
  text-align: center; }
  .main .section-wrapper__wrapper-heading {
    font-size: 4rem;
    padding: 2rem; }
  .main .section-wrapper__wrapper-node {
    font-size: 1.6rem;
    color: #888;
    font-weight: 400; }
.main .section-node-work__wrapper {
  margin: 12rem 0 8rem 0; }
  .main .section-node-work__wrapper-heading {
    font-size: 4rem;
    color: #000;
    padding-bottom: 2rem; }
  .main .section-node-work__wrapper-information {
    font-size: 1.6rem;
    color: #333;
    padding: 2rem 0;
    font-family: "Muli", sans-serif; }
  .main .section-node-work__wrapper-text {
    font-size: 1.6rem;
    color: #888;
    padding-top: 0rem;
    margin-bottom: 4rem;
    font-weight: 300;
    font-family: "Muli", sans-serif;
    letter-spacing: 0.05rem; }
  .main .section-node-work__wrapper .node-play-watching {
    font-size: 2rem;
    color: #000;
    margin-left: 2rem; }
  .main .section-node-work__wrapper-img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    border-radius: 16px; }
.main .section-node-work__wrapper--padding {
  padding: 14rem 15rem 0 0; }
.main .product-introduction {
  margin-bottom: 12rem; }
  .main .product-introduction__wrapper {
    text-align: center; }
    .main .product-introduction__wrapper-heading {
      font-size: 1.8rem;
      color: #000;
      margin: 1.6rem 0; }
    .main .product-introduction__wrapper-work {
      font-size: 1.6rem;
      color: #888;
      font-weight: 300; }
    .main .product-introduction__wrapper .wrapper-link {
      width: 100%; }
      .main .product-introduction__wrapper .wrapper-link-list {
        width: 100%;
        display: none;
        flex-wrap: nowrap;
        margin: 0;
        justify-content: center;
        position: absolute;
        top: 65%;
        left: 0; }
        .main .product-introduction__wrapper .wrapper-link-list-items {
          display: inline-block;
          margin: 0 1rem; }
          .main .product-introduction__wrapper .wrapper-link-list-items a.node-play {
            padding: 1.4rem 1.6rem;
            width: 40px;
            height: 40px; }
  .main .product-introduction__wrapper:hover .wrapper-link-list {
    display: flex;
    animation: menu 0.3s linear; }
.main .section-introduce__content {
  background: url("../../img/testmonial/banner.png");
  width: 100%;
  height: 600px;
  position: relative; }
  .main .section-introduce__content .container {
    height: 100%; }
  .main .section-introduce__content .row {
    height: 100%; }
  .main .section-introduce__content .section__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 5; }
  .main .section-introduce__content-wrapper {
    display: flex;
    text-align: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    justify-content: center; }
    .main .section-introduce__content-wrapper-background-svg {
      width: 4.7rem;
      height: 3.6rem;
      margin-bottom: 2rem; }
  .main .section-introduce__content-text {
    color: #fff;
    font-size: 2.2rem;
    font-family: "Muli", sans-serif;
    display: flex;
    text-align: center;
    align-items: center;
    user-select: none;
    margin-top: 1.2rem; }
  .main .section-introduce__content-directional {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .main .section-introduce__content-directional-wrapper {
      width: 4rem;
      height: 4rem;
      border: 0.4px solid #fff;
      border-radius: 100rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer; }
      .main .section-introduce__content-directional-wrapper i {
        font-size: 1.6rem;
        color: #fff; }
    .main .section-introduce__content-directional-wrapper:hover {
      background: #615CFD;
      border-color: #615CFD;
      transition: all 0.3s;
      will-change: transition; }
  .main .section-introduce__content .section-introduce__content-wrapper-background {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem; }
    .main .section-introduce__content .section-introduce__content-wrapper-background-image {
      margin-top: 1.2rem;
      width: 45px;
      height: 45px;
      background-repeat: no-repeat; }
    .main .section-introduce__content .section-introduce__content-wrapper-background-heading {
      font-size: 1.6rem;
      color: #fff;
      display: inline-block; }
    .main .section-introduce__content .section-introduce__content-wrapper-background-node {
      color: #fff;
      font-size: 1.4rem;
      display: inline-block; }
.main .section-introduce__content:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1; }

@media (max-width: 575px) {
  .website {
    overflow: hidden; }

  .header .header__wrapper-top-menu {
    display: none; }
  .header .header__wrapper-top-send {
    display: none; }
  .header .header__wrapper {
    padding: 1.6rem;
    background: #000;
    z-index: 20; }
  .header .header__wrapper-top {
    width: 100%;
    position: relative;
    height: 5rem;
    z-index: 20; }
  .header .header__wrapper-top-logo {
    display: flex;
    align-items: center; }
  .header .header__wrapper-heading .header-text {
    margin-top: 12rem;
    font-size: 3rem; }
  .header .header__wrapper-top-icon {
    display: flex;
    align-items: center; }
    .header .header__wrapper-top-icon i {
      font-size: 3.5rem;
      color: #fff; }
    .header .header__wrapper-top-icon .menu__mobi-list {
      position: absolute;
      top: calc( 100% + 16px);
      left: 0;
      right: 0;
      background: #fff;
      z-index: 99999;
      display: none; }
      .header .header__wrapper-top-icon .menu__mobi-list-item {
        list-style: none; }
        .header .header__wrapper-top-icon .menu__mobi-list-item-link {
          padding: 1.2rem 0 1.2rem 3.6rem;
          display: block;
          color: #000;
          position: relative;
          z-index: 10;
          font-size: 1.6rem; }
        .header .header__wrapper-top-icon .menu__mobi-list-item-link--active {
          color: #615CFD; }
        .header .header__wrapper-top-icon .menu__mobi-list-item-link:hover {
          color: #615CFD;
          text-decoration: none; }
  .header #menu-click {
    display: none; }
  .header #menu-click:checked + label .menu__mobi-list {
    display: block;
    animation: nav-mobile 0.3s; }
  .header .header__background {
    min-height: unset; }

  .main .section__node-about-wrapper img {
    width: 100%;
    margin-bottom: 2rem; }
  .main .section__node-about-wrapper-right {
    padding: 15rem 3rem; }
  .main .section-wrapper__wrapper {
    padding: 0 3rem 7rem 3rem; }
  .main .product-introduction__wrapper-img {
    width: 100%; }
  .main .product-introduction__wrapper {
    margin-bottom: 3rem; }
  .main .section-introduce__content-directional {
    display: none; }
  .main .section-introduce__content {
    background-repeat: no-repeat;
    background-position: center; }
  .main .section-form .container {
    padding: 0; }
  .main .section-node-work__wrapper--padding {
    padding: 0; }
  .main .section-wrapper__wrapper-heading {
    font-size: 3rem; }
  .main .section-form .container {
    padding: 0 1.5rem; }

  .footer {
    height: 552px; }
    .footer .wrapper-link {
      display: flex;
      justify-content: flex-start; }
    .footer .wrapper-link-list {
      margin-top: 4rem; }
    .footer .footer-top__nav {
      margin-top: 2rem; }
    .footer .footer-copyright {
      padding-bottom: 2rem; }
    .footer .footer-top__nav-list {
      flex-wrap: wrap; } }
@media (min-width: 576px) and (max-width: 767px) {
  .website {
    overflow: hidden; }

  .header .header__wrapper-top-menu {
    display: none; }
  .header .header__wrapper-top-send {
    display: none; }
  .header .header__wrapper {
    padding: 1.6rem;
    background: #000;
    z-index: 20; }
  .header .header__wrapper-top {
    width: 100%;
    position: relative;
    height: 5rem;
    z-index: 20; }
  .header .header__wrapper-top-logo {
    display: flex;
    align-items: center; }
  .header .header__wrapper-heading .header-text {
    margin-top: 12rem;
    font-size: 4rem; }
  .header .header__wrapper-top-icon {
    display: flex;
    align-items: center; }
    .header .header__wrapper-top-icon i {
      font-size: 3.5rem;
      color: #fff; }
    .header .header__wrapper-top-icon .menu__mobi-list {
      position: absolute;
      top: calc( 100% + 16px);
      left: 0;
      right: 0;
      background: #fff;
      z-index: 99999;
      display: none; }
      .header .header__wrapper-top-icon .menu__mobi-list-item {
        list-style: none; }
        .header .header__wrapper-top-icon .menu__mobi-list-item-link {
          padding: 1.2rem 0 1.2rem 3.6rem;
          display: block;
          color: #000;
          position: relative;
          z-index: 10;
          font-size: 1.6rem; }
        .header .header__wrapper-top-icon .menu__mobi-list-item-link--active {
          color: #615CFD; }
        .header .header__wrapper-top-icon .menu__mobi-list-item-link:hover {
          color: #615CFD;
          text-decoration: none; }
  .header #menu-click {
    display: none; }
  .header #menu-click:checked + label .menu__mobi-list {
    display: block;
    animation: nav-mobile 0.3s; }
  .header .header__background {
    min-height: unset; }

  .main .section__node-about-wrapper img {
    width: 100%;
    margin-bottom: 2rem; }
  .main .section__node-about-wrapper-right {
    padding: 15rem 3rem; }
  .main .section-wrapper__wrapper {
    padding: 0 3rem 7rem 3rem; }
  .main .product-introduction__wrapper-img {
    width: 100%; }
  .main .product-introduction__wrapper {
    margin-bottom: 3rem; }
  .main .section-introduce__content-directional {
    display: none; }
  .main .section-introduce__content {
    background-repeat: no-repeat;
    background-position: center; }
  .main .section-form .container {
    padding: 0; }

  .footer {
    height: 505px; }
    .footer .wrapper-link {
      display: flex;
      justify-content: flex-start; }
    .footer .wrapper-link-list {
      margin-top: 4rem; }
    .footer .footer-top__nav {
      margin-top: 2rem; }
    .footer .footer-copyright {
      padding-bottom: 2rem; } }
@media (min-width: 768px) and (max-width: 991px) {
  .website {
    overflow: hidden; }

  .header .header__wrapper-top-menu {
    display: none; }
  .header .header__wrapper-top-send {
    display: none; }
  .header .header__wrapper {
    padding: 1.6rem;
    background: #000;
    z-index: 20; }
  .header .header__wrapper-top {
    width: 100%;
    position: relative;
    height: 5rem;
    z-index: 20; }
  .header .header__wrapper-top-logo {
    display: flex;
    align-items: center; }
  .header .header__wrapper-heading .header-text {
    margin-top: 12rem;
    font-size: 5rem; }
  .header .header__wrapper-top-icon {
    display: flex;
    align-items: center; }
    .header .header__wrapper-top-icon i {
      font-size: 3.5rem;
      color: #fff; }
    .header .header__wrapper-top-icon .menu__mobi-list {
      position: absolute;
      top: calc( 100% + 16px);
      left: 0;
      right: 0;
      background: #fff;
      z-index: 99999;
      display: none; }
      .header .header__wrapper-top-icon .menu__mobi-list-item {
        list-style: none; }
        .header .header__wrapper-top-icon .menu__mobi-list-item-link {
          padding: 1.2rem 0 1.2rem 3.6rem;
          display: block;
          color: #000;
          position: relative;
          z-index: 10;
          font-size: 1.6rem; }
        .header .header__wrapper-top-icon .menu__mobi-list-item-link--active {
          color: #615CFD; }
        .header .header__wrapper-top-icon .menu__mobi-list-item-link:hover {
          color: #615CFD;
          text-decoration: none; }
  .header #menu-click {
    display: none; }
  .header #menu-click:checked + label .menu__mobi-list {
    display: block;
    animation: nav-mobile 0.3s; }
  .header .header__background {
    min-height: unset; }

  .main .section__node-about-wrapper img {
    width: 100%;
    margin-bottom: 2rem; }
  .main .section__node-about-wrapper-right {
    padding: 15rem 3rem; }
  .main .section-wrapper__wrapper {
    padding: 0 3rem 7rem 3rem; }
  .main .product-introduction__wrapper-img {
    width: 100%; }
  .main .product-introduction__wrapper {
    margin-bottom: 3rem; }
  .main .section-introduce__content-directional {
    display: none; }
  .main .section-introduce__content {
    background-repeat: no-repeat;
    background-position: center; }
  .main .section-form .container {
    padding: 0; }

  .footer {
    height: 430px; }
    .footer .wrapper-link {
      display: flex;
      justify-content: center; }
    .footer .wrapper-link-list {
      margin-top: 4rem; }
    .footer .footer-copyright {
      padding-bottom: 2rem; } }

/*# sourceMappingURL=about.css.map */
